/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
  text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  margin-top: 200px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.main {
  position: absolute;
  left: 25px;
  top: 20px;
  text-align: center;
}

.hamburger {
  position: relative;
  width: 60px;
  height: 60px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 15px;
}
.hamburger:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 2.5px 5px #00000088;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ffffff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #ffffff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transform: rotate(0deg);
  transition: all 0.6s cubic-bezier(0.54, -0.1, 0.57, 0.57);
}
.dark-mode .hamburger:before{
  background: #000000;
  box-shadow: 0 5px 10px #ffffff88;
}
.hamburger .hamburger-input {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
.hamburger .hamburger-line {
  width: 100%;
  background: rgb(0, 0, 0);
  height: 2px;
  display: block;
  border-radius: 6px;
  transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  position: relative;
}
.dark-mode .hamburger .hamburger-line{
  background: rgb(255, 255, 255);
}
.hamburger .hamburger-line.first, .hamburger .hamburger-line.third {
  width: 50%;
}
.hamburger .hamburger-line.third {
  margin-left: 50%;
  transform-origin: left;
}

.menu-button-wrapper {
  position: relative;
  display: inline-block;
}
.menu-button-wrapper .menu {
  position: absolute;
  top: 90px;
  transform: translateX(-50%) scale(0);
  transform-origin: center;
  transition: all 0.4s cubic-bezier(0.54, -0.1, 0.57, 0.57);
  background-color: transparent;
  left: 50%;
  padding: 10px 0;
  text-align: center;
  font-weight: 400;
  opacity: 0;
  user-select: none;
  border-radius:4px 4px;
  
}
.menu-button-wrapper .menu li:hover {
  box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(0,0,0,.15);
}

.dark-mode .menu-button-wrapper .menu li:hover {
  box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(255, 255, 255, 0.15);
}
.menu-button-wrapper .menu li {
  padding: 5px 0px;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 600;
  vertical-align: middle;
  background-color: #33395e;
  color: #fff;
}
.dark-mode .menu-button-wrapper .menu li {
  background-color: #06e2ff;
  color: #fff;
}

.menu-button-wrapper .menu-button {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.menu-button:checked ~ .menu {
  transform: translateX(-50%) scale(1);
  opacity: 1;
  user-select: auto;
}
.menu-button:checked ~ .icon-wrapper .hamburger-line.second {
  transform: rotate(-45deg);
}
.menu-button:checked ~ .icon-wrapper .hamburger-line.first {
  transform: translate(2px, 8px) rotate(-135deg);
}
.menu-button:checked ~ .icon-wrapper .hamburger-line.third {
  transform: translate(11px, -3px) rotate(-135deg);
}
.menu-button:checked ~ .icon-wrapper .hamburger:before {
  transform: rotate(45deg);
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
} 
.fa-instagram {
  background: #f31212;
  color: rgb(255, 255, 255);
}
.fa-youtube{
  background: #f31212;
  color: rgb(255, 255, 255);
} 
.fa-whatsapp{
  background: #2bc026;
  color: rgb(255, 255, 255);
}

ul.menu {
  list-style-type: none;
}
li.menu_list {
  height: 85px;
  width: 85px;
  position: relative;
}
li.menu_list .front,
a.side {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86px;
  width: 100%;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s ease-out;
  cursor: pointer;
}
li.menu_list .front {
  background-color: #06e2ff;
  color: #FFFC00;
  transform-origin: 0 0;
}
.dark-mode li.menu_list .front {
  background-color: #33395e;
  color: #FFFC00;
  transform-origin: 0 0;
}
a.side {
  transform-origin: 0 0 85px;
  transform: rotateY(-90deg);
}
li.menu_list:hover a.side {
  transform: rotateY(0deg);
}
li.menu_list:hover .front {
  transform: rotateY(90deg);
}


.navMenu .dot {
  margin-top: 50px;
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(-420px) translateY(20px);
  transform: translateX(-420px) translateY(20px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(-420px) translateY(20px);
  transform: translateX(-420px) translateY(20px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(-310px) translateY(20px);
  transform: translateX(-310px) translateY(20px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(-195) translateY(20px);
  transform: translateX(-195px) translateY(20px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(-75px) translateY(20px);
  transform: translateX(-75px) translateY(20px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
