<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarketMasked</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MarketMasked.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
<div class="main">
  <label class="menu-button-wrapper" for="">
    <input onmousedown="bleep.play()" type="checkbox" class="menu-button">
    <div class="icon-wrapper">
      <label class="hamburger">
        <input class="hamburger-input" type="checkbox">
        <span class="hamburger-line first"></span>
        <span class="hamburger-line second"></span>
        <span class="hamburger-line third"></span>
      </label>
    </div>
    <div class="item-list">
      <div class="menutama"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img style="border-radius:5px;" src="/css/image/Logo.gif" alt="home" width="35" height="35"><br/>MASKED</a></div>
      <div><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src="/css/image/Home.png" style="margin-right: 5px;" alt="home" width="25" height="25">Home</a></div>
      <div><a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="Index"><img src="/css/image/Store.png" style="margin-right: 5px;" alt="item" width="25" height="25">Items</a></div>
      <div><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><img src="/css/image/Privacy.png" style="margin-right: 5px;" alt="privacy" width="25" height="25">Secure</a></div>
    </div>
  </label>
</div>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<div class="toggledark" style="position:absolute;top:70px;right:5px;">
<p style="margin:10px;font-size:14px;" align="center">
Dark Mode<br/><button onmousedown="bleep.play()" class="change buttontogled">OFF</button>
</p>
</div>

<div id="content" class="divchat" style="position:absolute;bottom:200px;right:5px;margin-bottom:120px;width:20%;height:300px;overflow-y:auto;overflow-x:hidden;">
          <h5 align="center" class="chat1"><img src="/css/image/Chat.gif" style="margin-bottom:10px;margin-right:5px;" alt="chat" width="30" height="30">Chat</h5>
              <img src="/css/image/person-circle.svg" style="margin-left: 10px;margin-right: 5px;"  width="25" height="25">Username :
              <input type="text" size="13px" id="userInput" />
              <textarea class="areatext" style="float:left;line-height:16px;box-sizing:border-box;width:80%;outline: 0 !important;background:transparent;
              overflow: hidden;resize: none;border: 0;" type="text" id="messageInput" placeholder="Type your message here..." autofocus></textarea>
              <a style="float:right;width:20%;margin-top: 30px;margin-bottom: 30px;" id="sendButton" ><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
              <ul style="list-style-image:url('/css/image/person-circle.svg');
              list-style-position: outside;float:left;" id="messagesList"></ul>
</div>

<div id="toogle" style="position:absolute;bottom:250px;right:5px;">
<button onmousedown="bleep.play()" class="buttoncrud" id="toggle"><img src="/css/image/Chat.gif" alt="chat" width="40" height="40"></button>
</div>

    <footer style="margin-top:40px" class="border-top bg-dark footer text-muted">
        <div class="container">
            <div class="footericon" align="center">
              <table style="width:100%;height:100%;">
      <tr>
        <td style="color:white;border-right:1px solid white" class="tdfoll">
          Contact Us :
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-whatsapp"></a>
              <a href="#" class="fa fa-youtube"></a>
        </td>
        <td style="color:white;border-right:1px solid white" class="tdfoll">
          <a style="margin:10px;text-decoration: none;" class="text-light" asp-area="" asp-controller="Home" asp-action="About"> About Us</a>
        </td>
        <td class="tdfoll">
              <a style="margin:10px;text-decoration: none;" class="text-light" asp-area="" asp-controller="Home" asp-action="Index"><img src="/css/image/Home.png" style="margin-right: 5px;" alt="home" width="40" height="40">|Home</a>
              <a style="margin:10px;text-decoration: none;" class="text-light" asp-area="" asp-controller="Items" asp-action="Index"><img src="/css/image/Store.png" style="margin-right: 5px;" alt="item" width="40" height="40">|Items</a>
              <a style="margin:10px;text-decoration: none;" class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy"><img src="/css/image/Privacy.png" style="margin-right: 5px;" alt="privacy" width="40" height="40">|Secure</a>
        </td>
      </tr>
    </table>
    </div>
            <hr />
            <div style="float:left;width:20%;letter-spacing:2px;">
            &copy; 2022 - MarketMasked - <a style="text-decoration:none;" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            <div style="float:right;width:60%;letter-spacing:2px;text-align:right;">
              <h1 style="font-weight:bold;font-variant:small-caps;font-family:'VT323';font-size:45px;"><img style="border-radius:10px;margin-right:5px;margin-bottom:5px;" src="/css/image/Logo.gif" alt="home" width="35" height="35">MASKED-EGO</h1></div>
            </div>
    </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
