<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarketMasked</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MarketMasked.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
<div class="main">
  <label class="menu-button-wrapper" for="">
    <input type="checkbox" class="menu-button">
    <div class="icon-wrapper">
      <label class="hamburger">
        <input class="hamburger-input" type="checkbox">
        <span class="hamburger-line first"></span>
        <span class="hamburger-line second"></span>
        <span class="hamburger-line third"></span>
      </label>
    </div>
    <div class="item-list">
      <div class="menutama"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img style="border-radius:5px;" src="/css/image/Logo.gif" alt="home" width="35" height="35"><br/>MASKED</a></div>
      <div><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src="/css/image/Home.png" style="margin-right: 5px;" alt="home" width="25" height="25">HOME</a></div>
      <div><a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="Index"><img src="/css/image/Store.png" style="margin-right: 5px;" alt="item" width="25" height="25">ITEMS</a></div>
      <div><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><img src="/css/image/Privacy.png" style="margin-right: 5px;" alt="privacy" width="25" height="25">SECURE</a></div>
    </div>
  </label>
</div>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="margin-top:40px" class="border-top bg-dark footer text-muted">
        <div class="container">
            <div class="footericon" align="center">
              <table style="width:100%;height:100%;">
      <tr>
        <td style="color:white;border-right:1px solid white" class="tdfoll">
          CONTACT US :
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-whatsapp"></a>
              <a href="#" class="fa fa-youtube"></a>
        </td>
        <td class="tdfoll">
              <a style="margin:10px;text-decoration: none;" class="text-light" asp-area="" asp-controller="Home" asp-action="Index"><img src="/css/image/Home.png" style="margin-right: 5px;" alt="home" width="40" height="40">|HOME</a>
              <a style="margin:10px;text-decoration: none;" class="text-light" asp-area="" asp-controller="Items" asp-action="Index"><img src="/css/image/Store.png" style="margin-right: 5px;" alt="item" width="40" height="40">|ITEMS</a>
              <a style="margin:10px;text-decoration: none;" class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy"><img src="/css/image/Privacy.png" style="margin-right: 5px;" alt="privacy" width="40" height="40">|SECURE</a>
        </td>
      </tr>
    </table>
    </div>
            <hr />
            <div style="float:left;width:20%;letter-spacing:2px;">
            &copy; 2022 - MarketMasked - <a style="text-decoration:none;" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            <div style="float:right;width:60%;letter-spacing:2px;text-align:right;">
              <h1><img style="border-radius:10px;margin-right:5px;margin-bottom:5px;" src="/css/image/Logo.gif" alt="home" width="35" height="35">MASKED-EGO</h1></div>
            </div>
    </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
