@{
    ViewData["Title"] = "About Us";
}
<h4 style="font-variant:small-caps;color:grey;margin-top:20px;" align="center">@ViewData["Title"]</h4>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="foto" style="font-size:17px;margin-auto;">
  <table class="tababout" align="center" style="width:90%;">
    <tr>
      <td style="width:600px;border-bottom:4px solid grey;">
      <h5 style="color:orange;font-weight:bolder;" >Halo, nama saya Muhammad Farhan</h5>
        <p class="title">Saya adalah <b>Programmer</b></p>
        <p align="justify">Saya memiliki keahlian di bidang program dan data, saya lulusan
          SMKN 2 SUBANG dan saat ini saya masih terus mengembangkan diri saya sampai tingkat maksimal
        </p>
        <p>Email  : fafimuhammad@gmail.com</p>
        <p align="center"><button class="buttoncrud">Contact</button></p>
      </td>
      <td align="right" style="border-bottom:4px solid grey;">
        <p  ><img class="cardcool" src="/css/image/Dummy.png" alt="Farhan" style="width:100%"></p>
      </td >
    </tr>
    <tr>
      <td style="width:500px;border-top: 4px solid grey;">
      <h5 style="color:orange;font-weight:bolder;" >Halo, nama saya Muhammad Fahri</h5>
        <p class="title">Saya adalah <b>Artist</b></p>
        <p align="justify">Saya memiliki keahlian di bidang desain dan saya sangat menyukainya, saya lulusan
          SMKN 2 SUBANG dan saat ini saya masih terus mengembangkan diri saya sampai tingkat maksimal
        </p>
        <p>Email  : muhammadfarcry@gmail.com</p>
        <p align="center"><button class="buttoncrud">Contact</button></p>
      </td>
      <td style="border-top: 4px solid grey;">
        <p align="center"><img class="cardcool" src="/css/image/Dummy.png" alt="Farhan" style="width:100%"></p>
      </td>
    </tr>
  </table>
</div>

<div class="cardcool" style="float:left;width:40%;margin-top:70px;margin-bottom:210px;height:200px;">
    <h5 style="margin-top:20px;letter-spacing:2px;text-align:center;font-variant:small-caps;" ><span class="spandark">We're Different</span></h5>
    <ul style="font-size:14px;">
        <li>We're Fast</li>
        <li>Online Everytime</li>
        <li>Price ? A million maybe</li>
        <li>Guarantee 100% !, We Can't Give That</li>
    </ul>
</div>
<div class="cardcool" style="float:right;width:50%;margin-top:70px;margin-bottom:210px;height:200px;">
    <h5 style="margin-top:20px;letter-spacing:2px;font-variant:small-caps;" ><span class="spandark">Our Story</span></h5>
    <p align="justify" style="font-size:14px;margin-right:10px;margin-left:10px;">
        Ok saya akan menjelaskan dengan memakai bahasa Indonesia, kenapa saya membuat ini
        karena kami sangatlah suka tentang belajar bahasa pemrograman apapun, dan sangat
        menyukai desain yang sangat powerful dan colorful
    </p>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

    $( ".change" ).on("click", function() {
    if( $( "body" ).hasClass( "dark-mode" )) {
      $( "body" ).removeClass( "dark-mode" );
      $( ".change" ).text( "OFF" );
    } else {
      $( "body" ).addClass( "dark-mode" );
      $( ".change" ).text( "ON" );
    }
    });
    </script>
}