@model MarketMasked.Models.Item

@{
    ViewData["Title"] = "Create";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h4 align="center" style="visibility:hidden;color:grey;margin-top:20px;margin-bottom:20px;letter-spacing:2px;font-variant:small-caps;"><l>Create</l></h4>
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div style="width:500px;height:600px" class="divcrud row">
            <div align="center" class="divlogimg form-group">
            <img src="/css/image/CreateIcon.gif" alt="favorite" width="100" height="100">
            </div>
            <div class="divcreate col-md-6">
                <label asp-for="Name" class="control-label col-sm-2"></label>
                <input asp-for="Name" placeholder="Insert Name..." class="form-cool" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="divimage col-md-6">
                <label class="control-label">Upload Image</label><br />
                <input asp-for="ImageFile" accept="image/*" class="form-image"/>
                <p align="center"><img style="border-radius:10px;" src="" id="imgpreview" alt="" /></p>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="divcreate form-group">
                <label asp-for="Description" class="control-label"></label>
                <input size="50px" placeholder="Description your Item..." asp-for="Description" class="form-cool" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="divcreate form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" placeholder="Give your Price..." class="form-cool" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            
            <div style="margin-top:20px;" align="center" class="form-group">
                <input class="buttoncool" type="submit" value="Create" />
            </div>
        </div>
</form>

<div style="margin-bottom:150px">
    <a class="buttoncrud" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#ImageFile").change(function(){
        readURL(this);
    })

    $( ".change" ).on("click", function() {
    if( $( "body" ).hasClass( "dark-mode" )) {
      $( "body" ).removeClass( "dark-mode" );
      $( ".change" ).text( "OFF" );
    } else {
      $( "body" ).addClass( "dark-mode" );
      $( ".change" ).text( "ON" );
    }
    });

    </script>
}
