@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* vt323-regular - latin */
body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(255, 255, 255);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1366px;
  height: 400px;
  margin-top:20px;
  border: 2px solid rgba(112, 105, 105, 0.425);
  box-shadow: 0 5px 20px #08080888;
}
.dark-mode .slideshow-container{
  box-shadow: 0 5px 20px #ffffff88;
}


/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlidesind {
  display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #181818;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.table {
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  counter-reset: serial-number;
}
.table td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);
}
td {
	padding: 10px;
	background-color: rgba(50, 56, 90, 0.521);
	color: rgb(0, 0, 0);
  border: 0px;
  text-align: left;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.tdfoll{
  background-color: transparent;
  text-align: center;
  color: black;
  letter-spacing: 0px;
  text-transform: none;
  font-size: 16px;
}

.dark-mode .tdfoll .blue{
  text-shadow: 2px 2px 3px blue;
}

.dark-mode .tdfoll .red{
  text-shadow: 2px 2px 3px rgb(255, 0, 0);
}

.tdfoll tr:hover{
  background-color: transparent;
}
.tdcenter {
	padding: 10px;
	background-color: rgba(50, 56, 90, 0.521);
	color: rgb(0, 0, 0);
  border: 0px;
  text-align: center;
}
.tdcentericon {
	padding: 10px;
	background-color: rgba(50, 56, 90, 0.521);
	color: rgb(255, 255, 255);
  border-right: 1px solid white;
  border-left: 1px solid white;
  text-align: center;
}
.tdtable {
	padding: 10px;
	background-color: rgba(50, 56, 90, 0.521);
	color: rgb(0, 0, 0);
  border-bottom: 1px solid white;
  text-align: center;
}
th {
	text-align: center;
}

thead {
		background-color: #ffffff79;
	}

.tbody tr:hover {
			background-color: rgba(255,255,255,0.3);
		}
.tbody td{
  border:1px solid rgb(0, 0, 0);
  font-size:12px;
}
.theadtab th{
  border:1px solid rgb(0, 0, 0);
}
.divscroll {
  height:450px;
  width:79%;
	color: rgb(0, 0, 0);
  text-align:center;
  margin-bottom:190px;
  float:left;
  background-color: rgba(255, 255, 255, 0.521);
}
.divscroll::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 10px;
}
.divscroll::-webkit-scrollbar-track {
  border: 1px solid rgb(91, 222, 255);
  border-radius: 10px;
}
.divscroll::-webkit-scrollbar-thumb {
  background: rgb(57, 158, 218);
  border-radius: 10px;
}
.divscroll::-webkit-scrollbar-thumb:hover {
  background: rgba(57, 159, 218, 0.548);
}
.divdum {
  height:450px;
  width:20%;
	color: rgb(255, 255, 255);
  text-align:center;
  float:right;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(112, 105, 105, 0.425);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #88888888;
  
}
.slideshowcar {
  position: relative;
  margin-top: 50px;
}
hr{
  border:1.5px solid black;
}

.dotdiv{
  margin:20px;
}

.buttoncrud {
  position: relative;
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 5px 20px;
  display: inline-block;
  border-radius: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: rgb(0, 153, 255);
 }
 
 .buttoncrud:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          color:white;
 }
 
 .buttoncrud:active {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .buttoncrud::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
 }
 
 .buttoncrud::after {
  background-color: rgb(0, 153, 255);
 }
 
 .buttoncrud:hover::after {
  -webkit-transform: scaleX(1.0) scaleY(1.2);
      -ms-transform: scaleX(1.0) scaleY(1.2);
          transform: scaleX(1.0) scaleY(1.2);
  opacity: 0;
 }

.dark-mode .buttoncrud {
  position: relative;
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 5px 20px;
  display: inline-block;
  border-radius: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(107, 233, 250);
 }
 
.dark-mode .buttoncrud:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          color:rgb(0, 0, 0);
 }
 
.dark-mode .buttoncrud:active {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
.dark-mode .buttoncrud::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
 }
 
.dark-mode .buttoncrud::after {
  background-color: rgb(107, 233, 250);
 }
 
.dark-mode .buttoncrud:hover::after {
  -webkit-transform: scaleX(1.0) scaleY(1.2);
      -ms-transform: scaleX(1.0) scaleY(1.2);
          transform: scaleX(1.0) scaleY(1.2);
  opacity: 0;
 }


.textdivcool
{
  text-transform: none;
  border-radius: 30px;
  transition: box-shadow 0.2s linear;
  margin: 0.5em; /* Increased margin since the box-shado expands outside the element, like outline */
  }
  
.textdivcool:hover { 
  -webkit-box-shadow: 5px 5px 0px 0px #34e7e7, 10px 10px 0px 0px #3b9dec, 15px 15px 0px 0px #1e7bbd, 20px 20px 0px 0px #178aee, 25px 25px 0px 0px #07469900, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 5px 5px 0px 0px #34e7e7, 10px 10px 0px 0px #3b9dec, 15px 15px 0px 0px #1e7bbd, 20px 20px 0px 0px #178aee, 25px 25px 0px 0px #07469900, 5px 5px 15px 5px rgba(36, 4, 122, 0.781);
}

.texth1{
  background-size: 400%;
}

 /* Style all font awesome icons */
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0,0,0,.15);
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
} 
.fa-instagram {
  background: #f31212;
  color: rgb(255, 255, 255);
}
.fa-youtube{
  background: #f31212;
  color: rgb(255, 255, 255);
} 
.fa-whatsapp{
  background: #2bc026;
  color: rgb(255, 255, 255);
}

.tableprod{
  border-spacing: 30px;
  border-collapse: separate;
}
.dark-mode .tableprod h5{
  color:white;
}
.tableprod td{
  text-align: center;
  background-image:url('/css/image/Cardlightmode.jpg');
  padding:30px;
  border-radius: 20px;
  width:260px;
  height:530px;
  transition:all 0.4s;
  background-size: cover;

}
.parallax{
  transform-style: preserve-3d;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  height: 600px;
  align-items: center;
  justify-content: center;
  width:500px;
  padding: 0rem 5rem;
  margin:auto;
  border-radius: 30px;
  background-image: url('/css/image/carddetaillight.jpg');
  background-size: cover;
  transition: all 0.4s;
}
.dark-mode .parallax{
  background-image: url('/css/image/carddetaildark.jpg');
  background-size: cover;
}
.parallax p{
  text-align: left;
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 5px;
  color: white;
  padding:10px;
}
.parallax img{
  border-radius: 10px;
}
.dark-mode .tableprod td{
  background-image:url('/css/image/Carddarkmode.jpg');
  background-size: cover;
}
.tableprod p{
  font-size: 15px;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 10px;
}
.dark-mode .tableprod p{
  color:white;
}
.chat1 { 
  position: sticky; 
  top: 0; 
  z-index: 1;
  background-color: rgb(0, 211, 248); 
  padding:10px;
  color:white;
  font-weight: bold;
}
.areatext{
  color: black;
  transition: all 0.4s;
  margin-top: 30px;
}
.dark-mode .areatext{
  color:white
}
.tableprod img:hover { 
  box-shadow: 0 5px 20px #00000088;
}
.tableprod img{
  border-radius: 10px;
  transition: box-shadow 0.2s linear;
}
.dark-mode .tableprod img:hover { 
  box-shadow: 0 5px 20px #ffffff88;
}
.darkmode .tableprod img{
  border-radius: 10px;
  transition: box-shadow 0.2s linear;
}


.dark-mode {
  background-color: rgb(0, 0, 0);
  color: white;
}
.dark-mode .tdfoll{
  color:white;
  transition: color 0.2s linear;
}
.dark-mode .tdfoll:hover{
  color:black;
}
.dark-mode .textdivcool{
  transition: background-color 0.2s linear;
  transition: color 0.2s linear;
  transition: box-shadow 0.2s linear;
}
.dark-mode .textdivcool:hover { 
  background-color: rgb(136, 136, 136);
  color: black;
  -webkit-box-shadow: 5px 5px 0px 0px #34e7e7, 10px 10px 0px 0px #3b9dec, 15px 15px 0px 0px #1e7bbd, 20px 20px 0px 0px #178aee, 25px 25px 0px 0px #07469900, 5px 5px 15px 5px rgba(255, 255, 255, 0.781); 
  box-shadow: 5px 5px 0px 0px #34e7e7, 10px 10px 0px 0px #3b9dec, 15px 15px 0px 0px #1e7bbd, 20px 20px 0px 0px #178aee, 25px 25px 0px 0px #07469900, 5px 5px 15px 5px rgba(255, 255, 255, 0.781);
}

.buttontogled {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2.5px 10px;
  display: inline-block;
  border-radius: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
 }
 
 .buttontogled:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 
 .buttontogled:active {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .buttontogled::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
 }
 
 .buttontogled::after {
  background-color: rgb(27, 27, 27);
 }
 
 .buttontogled:hover::after {
  -webkit-transform: scaleX(1.0) scaleY(1.2);
      -ms-transform: scaleX(1.0) scaleY(1.2);
          transform: scaleX(1.0) scaleY(1.2);
  opacity: 0;
 }


.dark-mode .buttontogled {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2.5px 13px;
  display: inline-block;
  border-radius: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
 }
 
 .dark-mode .buttontogled:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
          box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
 }
 
 .dark-mode .buttontogled:active {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .dark-mode .buttontogled::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
 }
 
 .dark-mode .buttontogled::after {
  background-color: rgb(255, 255, 255);
 }
 
 .dark-mode .buttontogled:hover::after {
  -webkit-transform: scaleX(1.0) scaleY(1.2);
      -ms-transform: scaleX(1.0) scaleY(1.2);
          transform: scaleX(1.0) scaleY(1.2);
  opacity: 0;
 }
.toggledark{
  border-radius: 10px; 
  box-shadow: 0 5px 20px #08080888;
}
.dark-mode .toggledark{
  box-shadow: 0 5px 20px #ffffff88;
  border-radius: 10px; 
}
.dark-mode hr{
  border-color: white;
}


.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  margin: 8px;
  transition: all 0.2s;
}
.dark-mode .card {
  transition: all 0.2s;
  box-shadow: 2.5px 2.5px 10px rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.39);
  margin: 8px;
  color:rgb(255, 255, 255);
}


.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.spandark{
  border-bottom:4px solid rgb(0, 0, 0);
  transition: all 0.2s;
  margin:20px;
}
.dark-mode .spandark{
  border-bottom:4px solid rgb(255, 255, 255);
}
.divwe{
  transition: all 0.4s;
  border-radius: 10px;
  margin:20px;
}
.divwe:hover{
  box-shadow: 0 5px 20px #00000088;
}
.dark-mode .divwe:hover{
  box-shadow: 0 5px 20px #ffffff88;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}
.preloader .loading {
  margin-top: 20%;
  text-align: center;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 30px;
}
.loading p{
animation: animate 
1.5s linear infinite;
}

@keyframes animate {
  0% {
  opacity: 0;
  }

  50% {
  opacity: 0.7;
  }

  100% {
  opacity: 0;
  }
}

.divchat{
  border-radius: 30px;
  transition: all 0.4s;
  transition: box-shadow 0.2s linear;
  border-radius: 5px;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  margin: 0.5em; /* Increased margin since the box-shado expands outside the element, like outline */
  background-color:white;
  transform-origin: center;
  }
.dark-mode .divchat{
  background-color:rgb(0, 0, 0);
  box-shadow: 2.5px 2.5px 10px rgb(255, 255, 255);
}
#content{
    display:none;
}
.productname {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  font-variant: small-caps;
  color: #ccc;
  margin-bottom: 18px;
  margin-top: 10px;
}
.productlink {
  width:60%;
  float: right;
  text-align: right;
  transition: 0.3s;
  font-size: 17px;
}
.productprice {
  font-size: 17px;
  color: #ffffff;
  font-weight: 600;
  text-align: right;
}
.spanprice{
  background-color: rgb(255, 217, 0);
  border-radius: 5px;
  padding: 10px;
}
.dark-mode .productprice{
  color:rgb(255, 255, 255)
}

.productharga {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  float: left;
  width: 30%;
}
.dark-mode .productharga {
  color: #ffc526;
}
.fa-heart{
  background: transparent;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  color: rgb(0, 0, 0);
}
.dark-mode .fa-heart{
  color:white;
}
.fa-heart:hover{
  cursor: pointer;
}
.fa-heart:active{
  color: rgb(255, 0, 0);
}

.fa-shopping-cart{
  background: transparent;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  color: rgb(0, 0, 0);
}
.dark-mode .fa-shopping-cart{
  color: rgb(255, 255, 255);
}
.fa-shopping-cart:hover{
  cursor: pointer;
  color: #fbb72c;
}
.fa-paper-plane{
  background: transparent;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  color: rgb(121, 121, 121);
}
.fa-paper-plane:hover{
  cursor: pointer;
}
.divcrud{
  box-shadow: 2.5px 2.5px 10px rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
  letter-spacing: 2px;
  font-variant: small-caps;
  margin: auto;
  background-image: url('/css/image/Createlightmode.jpg');
  background-size: cover;
  border: 1px solid transparent;
  -webkit-animation: glow 0.4s infinite alternate;  
   -webkit-transition: border 0.4s linear, box-shadow 0.4s linear;
     -moz-transition: border 0.4s linear, box-shadow 0.4s linear;
          transition: border 0.4s linear, box-shadow 0.4s linear;

}
.dark-mode .divcrud{
  background-image: url('/css/image/Createdarkmode.jpg');
  background-size: cover;
  box-shadow: 2.5px 2.5px 10px rgb(255, 255, 255);
}

@-webkit-keyframes glow {
  to {
       border-color: #00eeff;
  -webkit-box-shadow: 2.5px 2.5px 10px #00eeff;
     -moz-box-shadow: 2.5px 2.5px 10px #00eeff;
          box-shadow: 2.5px 2.5px 10px #00eeff;
  }
}
.buttoncool {
	padding: 10px;
	cursor: pointer;
	font-size: 14px;
  font-weight: lighter;
  font-variant: small-caps;
  letter-spacing: 2px;
	color: rgb(255, 255, 255);
	background: rgb(255, 145, 0);
	border: 1px solid rgb(255, 145, 0);
	box-shadow: 5px 5px 0 rgb(255, 145, 0),
		-5px -5px 0 rgb(255, 145, 0),
		-5px 5px 0 rgb(255, 145, 0),
		5px -5px 0 rgb(255, 145, 0);
	transition: 500ms ease-in-out;
}

.buttoncool:hover {
	box-shadow: 20px 5px 0 rgb(255, 145, 0), -20px -5px 0 rgb(255, 145, 0);
}
.dark-mode .buttoncool{
  background: rgb(255, 0, 85);
	border: 1px solid rgb(255, 0, 85);
	box-shadow: 5px 5px 0 rgb(255, 0, 85),
		-5px -5px 0 rgb(255, 0, 85),
		-5px 5px 0 rgb(255, 0, 85),
		5px -5px 0 rgb(255, 0, 85);
	transition: 500ms ease-in-out;
}
.dark-mode .buttoncool:hover {
	box-shadow: 20px 5px 0 rgb(255, 0, 85), -20px -5px 0 rgb(255, 0, 85);
}
.buttoncool:focus {
	outline: none;
}
.textdivcool2{
  background: rgb(0, 238, 255);
	border: 1px solid rgb(0, 238, 255);
  box-shadow: 20px 5px 0 rgb(0, 238, 255), -20px -5px 0 rgb(0, 238, 255);
  transition: all 500ms;
}
.dark-mode .textdivcool2{
  background-color: #0077ff;
}
.textdivcool2:hover {
	box-shadow: 20px 5px 0 rgb(255, 136, 0), -20px -5px 0 rgb(9, 255, 0);
}

.cardcool{
  border: 1px solid rgba(0, 238, 255, 0);
	box-shadow: 5px 5px 0 rgb(0, 183, 255),
		-5px -5px 0 rgb(0, 238, 255),
		-5px 5px 0 rgb(0, 238, 255),
		5px -5px 0 rgb(0, 238, 255);
	transition: 500ms ease-in-out;
  background-color: #00eeff;
}

.cardcool:hover {
	box-shadow: 20px 5px 0 rgb(203, 252, 255), -20px -5px 0 rgb(0, 183, 255);
}
.dark-mode .cardcool:hover {
	box-shadow: 20px 5px 0 rgb(203, 252, 255), -20px -5px 0 rgb(0, 183, 255);
}
.dark-mode .cardcool{
  background-color: #0077ff;
  box-shadow: 5px 5px 0 rgb(0, 132, 184),
		-5px -5px 0 rgb(0, 238, 255),
		-5px 5px 0 rgb(0, 238, 255),
		5px -5px 0 rgb(0, 238, 255);
    transition: 500ms ease-in-out;
}
.divcreate{
  background-color: transparent;
  border-radius: 5px;
  color: black;
  padding:10px;
  transition: all 0.4s;
}
.dark-mode .divcreate{
  color: white;
}
.divimage{
  background-color: rgba(255, 174, 0, 0.384);
  color:white;
  transition: all 0.4s;
  border-radius: 10px;
  padding: 10px;
}
.divimage:hover{
  background-color: rgba(0, 140, 255, 0.384);
}
.dark-mode .divimage:hover{
  background-color: rgba(255, 0, 221, 0.384);
}
.divcreate:hover{
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 5px;
  color: white;
  padding:10px;
}
.form-cool {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: 0;
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: rgba(126, 126, 126, 0.514);
  transition: all 0.2s;
}
.dark-mode .form-cool{
  color: rgb(255, 255, 255);
}
.dark-mode .form-cool:focus{
  color: #7bff00;  
  border-image: linear-gradient(to right, #ea00ff,#ff0080);
  border-image-slice: 1;
}
.form-cool::placeholder {
    color: white;
}
.form-cool:placeholder-shown {
    font-size: 15px;
    cursor: text;
    top: 20px;
}
.form-cool:focus {
  transition: 0.2s;
  font-size: 12px;
  color: #7bff00;  
  border-image: linear-gradient(to right, #00eeff,#ffc400);
  border-image-slice: 1;
  }
.form-image{
  font-size: 12px;
  color: #7bff00;
  width: 100%; 
}